html {
    font-size: 10px;
}

body {
    font-size: 14px;
    font-family: Arial, sans-serif;
    line-height: 1.3;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    height: 65px;
    width: 100%;
    padding-bottom: 10px;
}

header div{
    display: flex;
    flex-direction: row;
}

#google-logo {
    width: 92px;
    padding: 5px 30px;
    margin-top: 25px;
}

#search-logo {
    width: 17.5px;
    width: 17.5px;
    padding: 7.5px;
    margin-top: 19px;
    position: relative;
    left: -80px;
    cursor: pointer;
}

#mic-logo {
    width: 15px;
    height: 20px;
    padding: 4px 9px;
    margin-top: 29.5px;
    position: relative;
    left: -80px;
    cursor: pointer;
}

#search {
    outline: none;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    width: 692px;
    height: 46px;
    margin-top: 20px;
    padding: 0 85px 0 30px;
}

#search:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

#sign-in {
    height: 36px;
    width: 95px;
    padding: 9px 23px;
    cursor: pointer;
    background: #1a73e8;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 1.4rem;
    margin: 24px 0px 0 10px;
}

#sign-in:hover {
    box-shadow: 0px 0px 5px 0 #1a73e8;
}

#apps {
    height: 36px;
    padding: 9px 23px;
    cursor: pointer;
    background: #1a73e8;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 1.4rem;
    margin: 24px 10px 0 20px;
}

#apps:hover {
    box-shadow: 0px 0px 5px 0 #1a73e8;
}

#search-bar::after {
    content: " ";
    margin: 76px;
}

nav {
    display: flex;
    padding-bottom: 10px;
    line-height: 16px;
    margin: 0 auto 0 0;
    width: 1119px;
    padding-left: 160px;
    border-bottom: 1px solid #ebebeb;
}

nav img {
    width: 13px;
    padding: 3px;
    margin-top: 15px;
}

nav a {
    font-size: 13px;
    text-decoration: none;
    color: black;
    padding: 0 10px;
}

nav div {
    margin-top: 10px;
}

.nav-link {
    position: relative;
    top: -5px;
    left: 2px;
}

.settings-tools {
    position: relative;
    top: 18px;
    left: 150px;
}

main {
    width: 600px;
    margin: 0 auto 0 170px;
}

main > div {
    margin-bottom: 30px;
}

#result-stats {
    padding: 8px 0;
    color: #70757a;
    line-height: 43px;
}

cite {
    line-height: 1.3;
    color: #202124;
    text-decoration-color: white;   
}

cite span {
    color: #5f6368;
}

h3 {
    font-size: 2rem;
    padding: 4px 0;
}

.result-link h3 {
    color: #1a0dab;
}

.result-link a:hover h3{
    text-decoration: underline;
}

.result-link p {
    line-height: 1.58;
    color: #4d5156;
}

.result-link {
    margin-bottom: 30px;
}

strong {
    font-weight: bold;
}

.play-icon {
    width: 48px;
    position: absolute;
    bottom: 221.625px;
    left: 82px;
}

.video-thumbnail {
    width: 212px;
    position: relative;
    bottom: 20px;
}

.video-duration {
    color: white;
    background-color: rgba(0,0,0,.54);
    border-radius: 2px;
    font-size: 12px;
    width: 32px;
    padding: 5px;
    text-align: center;
    position: absolute;
    bottom: 192px;
    left: 5px;
}

.crop {
    width: 212px;
    height: 119.25px;
    overflow: hidden;
}

h4 {
    font-size: 16px;
    height: 6.5em;
    line-height: 1.375;
    padding: 15px;
}

#videos a:hover h4 {
    text-decoration: underline;
}

#video {
    position: relative;
    min-width: 212px;
    height: 306px;
    color: #222;
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    overflow: hidden;
    margin: 5px 10px 5px 0;
}

#videos {
    display: flex;
    overflow-x: auto;
    width: 670px;
    margin-bottom: 30px;
}

.channel {
    color: #808080;
    padding: 0 0 2px 15px;
}

.source {
    padding: 2px 0 0 15px;
}

.date {
    color: #808080;
}

#people-also-ask {
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    width: 670px;
    margin-bottom: 30px;
}

#people-also-ask p {
    border-top: 1px solid #dfe1e5;
    padding: 9px 16px;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.58;
}

#people-also-ask h3{
    padding: 9px 16px;
}

#q-and-a #asked-ques {
    display: flex;
    overflow-x: auto;
    width: 670px;
    margin: 10px -4px 30px;
}

#q-and-a > #asked-ques > div {
    border: 1px solid #dfe1e5;
    cursor: pointer;
    border-radius: 8px;
    padding: 13px 16px 11px;
    height: 216px;
    min-width: 178px;
    margin: 4px;
    position: relative;
    overflow: visible;
}

#q-and-a p {
    line-height: 20px;
    max-height: 100px;
    overflow: hidden;
    margin-right: 20px;
}

#q-and-a .dots {
    width: 19px;
    height: 19px;
    position: absolute;
    left: 181px;
    top: 17px;
}

#q-and-a .thumbs-up {
    width: 16px;
    height: 16px;
}

#q-and-a .thumbs-down {
    width: 16px;
    height: 16px;
}

.circle1 {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 110px;
    top: 200px;
    padding: 8px;
    border: 1px solid #dfe1e5;
    border-radius: 50%;
}

.circle2 {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 150px;
    top: 200px;
    padding: 8px;
    border: 1px solid #dfe1e5;
    border-radius: 50%;
}

.time {
    color: #70757A;
    font-size: 12px;
    margin-top: 8px;
}

#q-and-a a {
    color: #1967d2;
    font-size: 12px;
    margin-top: 8px;
}

#q-and-a a:hover {
    text-decoration: underline;
}

.ans {
    padding: 6px 10px;
    text-align: center;
    border: 1px solid #dfe1e5;
    border-radius: 14px;
    width: 50px;
    position: absolute;
    left: 20px;
    top: 200px;
}

#ask-ques {
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    width: 670px;
    margin-bottom: 30px;
}

#ask-ques img{
    width: 40px;
    padding: 15px;
}

#ask-ques div {
    display: flex;
}

#ask-ques input {
    height: 40px;
    width: 546px;
    border: 1px solid #dfe1e5;
    margin: auto;
    margin-left: 0;
    border-radius: 8px;
    padding-left: 20px;
}

#forward {
    height: 18px;
    max-width: 18px;
    position: relative;
    top: 10px;
    right: 50px;
}

#searches-related-to > div{
    display: flex;
    line-height: 20px;
    margin: 10px 0 30px;
}

#searches-related-to li {
    padding: 3px 32px 3px 0;
}

#searches-related-to a:hover {
    text-decoration: underline;
}

#images > div {
    display: flex;
    overflow-x: scroll;
    margin-bottom: 10px;
    width: 670px;
}

#images > div > div {
    border-radius: 4px;
    overflow: hidden;
    min-width: 110px;
    margin-right: 8px;
    border: 1px solid #dfe1e5;
}

#images > a {
    font-size: 16px;
}

footer {
    background: #f2f2f2;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
}

footer div {
    margin-left: 170px;
}

footer a {
    color: #5f6368;
    padding-right: 27px;
    margin: 0;
}

footer a:hover {
    color: black;
}